.footer {
  margin-top: 591px;
  background-color: #414141;
  height: 31px;
}
.footerTitle{
  opacity: 0.5;
  color: #ffffff;
  font-family: "Segoe WP";
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}