.header {

}
.containerHeader{
  min-width: 980px;
  padding: 0 10px;
  display: flex;
}

.logo{
  width: 175px;
  height: 28px;
  background-image: url('../../image/Indo_Tourism.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation{
  &__link{
color: red;
text-decoration: none;
  }
}